Nama : Dahlia
Nim : 220741082
Prodi : Ilkom
Matkul : Data Besar

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=6077a8f13328d72eaacbd3ce9be0d112b62f0ea1f3bc23fff9ba0dc64d61e22e
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
import findspark
findspark.init()
findspark.find()
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import *

In [ ]:
spark = SparkSession.builder.appName('Belajar transformasi kolom').config("spark.memory.offHeap.enabled","true").config("spark.memory.offHeap.size","100g").getOrCreate()

In [ ]:
data = [['Agus','Fisika',100],['Windi','Fisika',200],
        ['Budi','Biologi',200],['Dina','Fisika',200],
        ['Bayu','Fisika',50],['Dedi','Biologi',500]]

kolom = ['nama','jurusan','nilai']
df = spark.createDataFrame(data,kolom)
df.show()

+-----+-------+-----+
| nama|jurusan|nilai|
+-----+-------+-----+
| Agus| Fisika|  100|
|Windi| Fisika|  200|
| Budi|Biologi|  200|
| Dina| Fisika|  200|
| Bayu| Fisika|   50|
| Dedi|Biologi|  500|
+-----+-------+-----+

In [ ]:
df_update = df.withColumn('nilai', col('nilai') +100)
df_update.show()
df.show()

+-----+-------+-----+
| nama|jurusan|nilai|
+-----+-------+-----+
| Agus| Fisika|  200|
|Windi| Fisika|  300|
| Budi|Biologi|  300|
| Dina| Fisika|  300|
| Bayu| Fisika|  150|
| Dedi|Biologi|  600|
+-----+-------+-----+

+-----+-------+-----+
| nama|jurusan|nilai|
+-----+-------+-----+
| Agus| Fisika|  100|
|Windi| Fisika|  200|
| Budi|Biologi|  200|
| Dina| Fisika|  200|
| Bayu| Fisika|   50|
| Dedi|Biologi|  500|
+-----+-------+-----+

In [ ]:
df.withColumns(
    {'nilai': F.col('nilai')+100,'jurusan': F.lit('umum')}
    ).show()

+-----+-------+-----+
| nama|jurusan|nilai|
+-----+-------+-----+
| Agus|   umum|  200|
|Windi|   umum|  300|
| Budi|   umum|  300|
| Dina|   umum|  300|
| Bayu|   umum|  150|
| Dedi|   umum|  600|
+-----+-------+-----+

In [ ]:
df.withColumn('nilai_baru', F.col('nilai') +100).show()

+-----+-------+-----+----------+
| nama|jurusan|nilai|nilai_baru|
+-----+-------+-----+----------+
| Agus| Fisika|  100|       200|
|Windi| Fisika|  200|       300|
| Budi|Biologi|  200|       300|
| Dina| Fisika|  200|       300|
| Bayu| Fisika|   50|       150|
| Dedi|Biologi|  500|       600|
+-----+-------+-----+----------+

In [ ]:
df1 = df.withColumn('nilai1', F.lit(100))
df1.show()

+-----+-------+-----+------+
| nama|jurusan|nilai|nilai1|
+-----+-------+-----+------+
| Agus| Fisika|  100|   100|
|Windi| Fisika|  200|   100|
| Budi|Biologi|  200|   100|
| Dina| Fisika|  200|   100|
| Bayu| Fisika|   50|   100|
| Dedi|Biologi|  500|   100|
+-----+-------+-----+------+

In [ ]:
df.withColumns(
    {'nilai_baru': F.col('nilai')+100,'jurusan_baru': F.lit('umum')}
    ).show()

+-----+-------+-----+----------+------------+
| nama|jurusan|nilai|nilai_baru|jurusan_baru|
+-----+-------+-----+----------+------------+
| Agus| Fisika|  100|       200|        umum|
|Windi| Fisika|  200|       300|        umum|
| Budi|Biologi|  200|       300|        umum|
| Dina| Fisika|  200|       300|        umum|
| Bayu| Fisika|   50|       150|        umum|
| Dedi|Biologi|  500|       600|        umum|
+-----+-------+-----+----------+------------+

In [ ]:
df1 = df.withColumn('nilai_total', col('nilai') +100)
df1 = df1.drop('nilai')
df1.show()

+-----+-------+-----------+
| nama|jurusan|nilai_total|
+-----+-------+-----------+
| Agus| Fisika|        200|
|Windi| Fisika|        300|
| Budi|Biologi|        300|
| Dina| Fisika|        300|
| Bayu| Fisika|        150|
| Dedi|Biologi|        600|
+-----+-------+-----------+

In [ ]:
df1 = df.withColumns(
    {'nilai_total': F.col('nilai'),'Asal_jurusan': F.col('Jurusan')})
df1 = df1.drop('nilai').drop('jurusan')
df1.show()

+-----+-----------+------------+
| nama|nilai_total|Asal_jurusan|
+-----+-----------+------------+
| Agus|        100|      Fisika|
|Windi|        200|      Fisika|
| Budi|        200|     Biologi|
| Dina|        200|      Fisika|
| Bayu|         50|      Fisika|
| Dedi|        500|     Biologi|
+-----+-----------+------------+

In [ ]:
df.withColumnRenamed('nilai','nilai_total').show()

+-----+-------+-----------+
| nama|jurusan|nilai_total|
+-----+-------+-----------+
| Agus| Fisika|        100|
|Windi| Fisika|        200|
| Budi|Biologi|        200|
| Dina| Fisika|        200|
| Bayu| Fisika|         50|
| Dedi|Biologi|        500|
+-----+-------+-----------+

# New Section